[build-system]
requires = [
    "setuptools",
    "wheel",
]
build-backend = "setuptools.build_meta"

[tool.tox]
legacy_tox_ini = """
[tox]

[testenv:tests]
changedir = tests
deps = -rtests/requirements.txt

commands =
    coverage run -m unittest discover -p "*.py"
    coverage xml

[testenv:examples]
changedir = examples
allowlist_externals = /bin/bash

deps = -rexamples/requirements.txt

commands =
    bash -ec "\
        SKCOSMO_EXAMPLES=$PWD; \
        for file in $(find . -name '*.ipynb' -not -path '*/\\.*'); do \
            filename=$(basename $file); \
            jupyter nbconvert \
                --to notebook \
                --output "$SKCOSMO_EXAMPLES/../.tox/examples/$filename" \
                --execute "$file"; \
    done"
"""

[tool.coverage.run]
branch = true
data_file = 'tests/.coverage'

[tool.coverage.report]
include = [
    "skcosmo/*"
]

[tool.coverage.xml]
output = 'tests/coverage.xml'
