name: Tests

on:
  push:
    branches: [main]
  pull_request:
    # Check all PR

jobs:
  tests:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: 
          - ubuntu-latest
          - macos-latest
          - windows-latest
        python-version: 
          - "3.10"
          - "3.13"

    steps:
    - uses: actions/checkout@v5

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install tests dependencies
      run: python -m pip install tox coverage[toml]

    - name: Run Python tests
      run: |
        tox -e tests
        coverage xml

    - name: upload to codecov.io
      uses: codecov/codecov-action@v5
      with:
        files: ./tests/coverage.xml
        token: ${{ secrets.CODECOV_TOKEN }}
